.container-L {
  width: 100%;
  margin: 3rem auto;
}

.container-title {
  text-align: center;
}

.container-login {
  width: 100%;
  margin: 0;
  padding: 1.5rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);;
  border-radius: 4px;
}

.login-form-control.forgot-password {
  height: 2.5rem;
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-form-control.forgot-password > a {
  color: rgb(255, 0, 0, 0.7);
  text-decoration: none;
}

.container-login__or {
  text-align: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}

.container-login_new {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login_new > p {
  margin: 0 0.5rem;
}

.container-login_new > a {
  text-decoration: none;
  color: rgb(255, 0, 0, 0.7);
}

.error-form {
  display: inherit;
  color: rgb(255, 0, 0, 0.8);
  text-align: center;
  margin-bottom: 0.5rem;
}

@media (min-width: 40rem) {
  .container-L {
      max-width: 25rem;
  }
}
