
.container {
  width: 100%;
  margin: 3rem auto;
  padding: 0 1rem;
}

.container-newart-title {
  text-align: left;
  font-size: 3.2rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
}

.container-newart {
  width: 100%;
  margin: 0;
  padding: 1.5rem 0;
}

@media (min-width: 40rem) {
  .container {
      max-width: 38rem;
      padding: 0;
  }
}
