.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__user {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav__user > img {
  width: 4rem;
  background-color: #ccc;
  border-radius: 100%;

}

.mobile-nav__user > p {
  font-size: 1rem;
  font-weight: 500;
}

.mobile-nav__info {
  height: 3.5rem;
  width: 100%;
  margin-top: 1.2rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.mobile-nav__info-divider {
  height: 100%;
  width: 1px;
  background: #ccc;
}

.mobile-nav__info-content {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__info-content > span {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
.mobile-nav__info-content > p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.mobile-nav__items {
  width: 100%;
  height: 50%;
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.mobile-nav__item {
  height: 2.5rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.mobile-nav__item > span {
  margin: 0 0.9rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
}

/* final content items mobile */

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
}

.close {
  transform: translateX(-120%);
  display: none;
}

@media (min-width: 40rem) {
  .mobile-icon {
      display: none;
  }
}
