.container-S {
  width: 100%;
  margin: 3rem auto;
}

.container-signup-title {
  text-align: center;
}

.container-signup {
  width: 100%;
  margin: 0;
  padding: 1.5rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);;
  border-radius: 4px;
}

.signup-form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container-signup-terms {
  width: 70%;
  margin: auto;
}

.container-signup-terms > p {
  text-align: center;
  line-height: 1.6;
}

.container-signup-terms > p a {
  color: rgb(0, 0, 0, 0.7);
}

.container-signup__or-divider {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container-signup__or-line {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
.container-signup__or {
  position: absolute;
  z-index: 50;
  margin: 0;
  padding: 0 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  background-color: white;
}

.container-signup_new {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-signup_new > p {
  margin: 0 0.5rem;
}

.container-signup_new > a {
  text-decoration: none;
  color: rgb(255, 0, 0, 0.7);
}

@media (min-width: 40rem) {
  .container-S {
      max-width: 25rem;
  }
}
