.profile {
  height: auto;
  width: 100vw;
  margin: 0 auto;
}

.profile-info {
  height: auto;
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info__image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
}

.profile-info__image > img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

.profile-info__text {
  height: auto;
  width: 68%;
}
.profile-info__text-lineone {
  display: block;
}
.profile-info__text-linetwo {
  display: flex;
}
.profile-info__text-lineone,
.profile-info__text-linetwo {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.profile-info__text-linetwo {
  display: none;
}

.profile-info__text-lineone > h1 {
  margin: 0 1.1rem 0 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.8);
}

.profile-info__text-lineone-mobile {
  display: flex;
  margin-top: 0.8rem;
}

.text-lineone__button {
  padding: 0.2rem 0.8rem;
  margin-right: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  outline: none;
  border: 1px solid rgb(0, 0, 0, 0.2);
}
.text-lineone__button.follow {
  padding: 0.35rem 0.8rem;
  background-color: rgb(0, 149, 246);
  border-radius: 3px;
  color: white;
  border: none;
  font-weight: 500;
  margin-right: 0.5rem;
}
.text-lineone__button > span {
  font-size: 1.1rem;
}
.material-icons.check {
  font-size: 0.7rem;
}
.text-lineone__button:hover {
  cursor: pointer;
}
.text-lineone__button.follow:hover {
  background-color: rgb(3, 127, 209);
}

.text-linetwo__items {
  width: 100%;
  list-style: none;
  margin: 0.4rem 0;
  padding: 0;
  display: flex;
}

.text-linetwo__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0.9rem;
}
.text-linetwo__item > p {
  margin: 0 0.2rem 0 0;
  font-size: 1rem;
  font-weight: 500;
}
.text-linetwo__item > span {
  font-size: 0.9rem;
}

.profile-menu {
  height: 4rem;
  width: 100%;
}

.profile-menu__items {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-style: solid;
  border-top-color: rgb(0, 0, 0, 0.2);
  border-top-width: 1px;
}

.profile-menu__item > a {
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0, 0.5);
}

.profile-menu__item > a span {
  margin-right: 0.2rem;
}
.profile-menu__item > a p {
  font-size: 1.1rem;
  font-weight: 500;
}

.profile-menu__item:hover > a {
  color: rgb(0, 0, 0, 0.8);
}
.profile-menu__item.active,
.profile-menu__item:hover {
  border-top-style: solid;
  border-top-color: rgb(0, 0, 0, 0.5);
  border-top-width: 1px;
}
.profile-menu__item.active > a {
  color: rgb(0, 0, 0, 0.8);
}

/* MENU COM INFOS DE PUBLICAÇÂO-SEGUIDORES-SEGUINDO */
.profile-info--mobile {
  width: 100%;
  display: inline-block;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.profile-info--mobile__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: .8rem 0;
  margin: 0;
}
.profile-info--mobile__item {
  text-align: center;
}
.profile-info--mobile__item > p {
  margin: 0;
  font-size: 0.85rem;
  font-weight: 600;
}
.profile-info--mobile__item > span {
  color: rgb(0, 0, 0, 0.6);
  font-size: 0.85rem;
}
/* MENU COM INFOS DE PUBLICAÇÂO-SEGUIDORES-SEGUINDO */


/* INIT CARD ARTS */

.list-arts {
  height: auto;
}

.container-list-arts {
  width: 100%;
}

.list-arts__not-images {
  text-align: center;
  color: rgb(0, 0, 0, 0.5);
  font-weight: 500;
  margin-top: 5rem;
}

.list-arts__item {
  width: 100%;
  margin-bottom: 1.5rem;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

.featured-arts__image {
  height: 293px;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px 3px 0 0;
}

.featured-arts__image-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(14, 48, 143, 0.3), 100%, transparent);
  opacity: 0;
}
.profile-art__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: white;
}
.favorite {
  margin-right: 0.3rem;
}
.profile-art__icon-number {
  font-size: 1.1rem;
  font-weight: 500;
}

.featured-arts__image:hover > .featured-arts__image-back,
.featured-arts__image:hover > .profile-art__icon {
  opacity: 1;
}


/* FINAL CARD ARTS */

@media (min-width: 40rem) {
  .profile,
  .container-list-arts {
      max-width: 1100px;
  }
  .profile-info {
    margin-top: 3.5rem;
  }
  .profile-info__text,
  .profile-info__image {
      min-height: 300px;
  }
  .profile-info__image > img {
      height: 180px;
      width: 180px;
  }
  .profile-info__text-lineone > h1 {
      font-size: 1.8rem;
  }
  .profile-info__text-linetwo,
  .profile-info__text-lineone {
    display: flex;
  }
  .profile-info__text-lineone-mobile {
    margin-top: 0;
  }
  .list-arts__item {
      width: 23.8%;
      display: inline-block;
      margin: 1rem 0.3rem;
  }
  .profile-info--mobile {
    display: none;
  }
  .featured-arts__image {
      width: 100%;
      max-width: 293px;
  }
}

@media (max-width: 69rem) {
  .profile {
      padding: 0 1.5rem;
  }
}
